body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-dark);
  color: var(--text-light);
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--background-dark-light);
  color: var(--text-light);
}

h1,
h2 {
  color: var(--text-light);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
  margin: 0 10px;
}

nav {
  display: flex;
  justify-content: space-between;
}

/* Quiz.css */
.quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-top: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.X-button-container {
  display: flex;
  align-items: center;
}

.answers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.answer {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  width: 100px;
  text-align: center;
  cursor: pointer;
  background-color: var(--background-dark-light);
}

.submit-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  color: var(--text-light);
}

.explaination {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: var(--text-light);
}

.return-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--background-dark-light);
  color: var(--text-light);
}

.answer {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

/* ProgressBar */
.progress-bar-container {
  width: 100%;
  background-color: var(--gray-dark);
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
  transition: width 0.3s ease;
}

/* NavLink */
.navLink {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--gray-dark); /* Default text color */
  padding: 10px; /* Add padding for better spacing */
  border: 1px solid var(--gray); /* Add border */
  border-radius: 4px; /* Rounded corners */
  background-color: var(--white); /* Default background color */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Smooth transition */
}

.navLinkText {
  font-weight: bold;
  color: var(--gray-dark); /* Link text color */
  margin-bottom: 4px; /* Space between text and subtext */
}

.navLinkSubtext {
  color: var(--gray-dark); /* Subtext color */
  font-weight: normal;
}

.navLink:hover {
  background-color: var(--blue); /* Background color on hover */
  border-color: var(--blue); /* Border color on hover */
}

.explanationImg {
  width: 15vw;
}

/* Home Page */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #007bff;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  margin: 20px 0;
  transition: background-color 0.3s ease;
}

.step:hover {
  background-color: #0056b3;
}
